.flash {
  margin: 20px 0;
  padding: 10px;
  background: #CCFFCC;
  border: 1px solid #B7E5B7;
  border-radius: 1px;
  text-align: center;
}

.page-header {
  margin-bottom: 40px;
}

.back-link {
  display: inline-block;
  margin-top: 40px;
}
